/*partner-block*/
section#single-img .partner-block {
    display: flex;
    justify-content: space-between;
    padding: 42px 1rem;
}

section#single-img img {
    width: 100%;
}

section#single-img .partner-block .logo {
    width: 70%;
}

section#single-img .partner-block .partners {
    width: 48%;
}

section#single-img .partner-block .logo img {
    max-width: 222px;
    max-height: 68px;
}

section#single-img .partner-block p.title {
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #a2a2a2;
    margin-bottom: 10px;
}
section#single-img .container.img-cont {
    height: 100%;
}
section#single-img .partner-block .partners > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#single-img .partner-block .partners img {
    max-width: 130px;
}

section#single-img {
    width: 100%;
    height: 100vh;
    padding-top: 55px;
}

section#single-img .slide-container {
    background-image: url(../img/main-img@2x.jpg);
    background-size: cover;
    background-position: 75%;
    width: 100%;
    height: calc(100% - 152px);
    position: relative;
}

section#single-img .slide-container .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#single-img .slide-container .text-container {
    width: 100%;
    max-width: 569px;
    height: 120px;
    text-align: center;
    background-color: #ffff00;
    padding: 15px 10px 15px 90px;
    position: absolute;
    bottom: 120px;
    left: -20px;
}

section#single-img .slide-container .text-container p.title {
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-align: left;
    color: #4d4d4d;
    font-family: 'MuseoCyrl-500';
    margin-bottom: 0;
}

section#single-img .slide-container .text-container p.description {
    font-family: 'MuseoCyrl-500';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    color: #555555;
}
/*local*/
#local {
    padding: 90px 0 30px;
}
#local img {
    width: 100%;
}
#local p.description {
    font-family: 'MuseoCyrl-300';
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: 0.4px;
    text-align: left;
    color: #555555;
}
/*info-tour*/
#info-tour {
    padding: 30px 0;
}
#info-tour h2 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#info-tour .info-block {
    border: 3px solid #ffff00;
    border-radius: 8px;
    padding: 40px 35px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
}
#info-tour .info-block .header-col {
    margin-bottom: 30px;
    padding: 5px 14px;
    border: 2px solid #ffff00;
    border-radius: 4px;
}
#info-tour .info-block .footer-col {
    padding: 5px 14px;
}
#info-tour .info-block .footer-col .description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#info-tour .header-col .title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    color: #555555;
    margin-bottom: 10px;
}
#info-tour .header-col .description {
    font-family: 'MuseoSansCyrl-500';
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#info-tour .footer-col .title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    color: #555555;
    margin-bottom: 20px;
}
#info-tour .footer-col .text-block {
    font-family: 'MuseoSansCyrl-500';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}
#info-tour .img-container {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
#info-tour .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#info-tour a.send {
    width: 362px;
    height: 56px;
    border-radius: 2px;
    background-color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    color: #555555;
    margin: 60px auto;
    transition: all .2s linear;
}
#info-tour a.send:hover {
    text-decoration: none;
    color: #ffff00;
    background-color: #555555;
}
/*photo*/
#photo {
    padding: 30px 0;
}
#photo h3 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 30px;
}
#photo .img-container {
    width: 100%;
    height: 265px;
    overflow: hidden;
}
#photo .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s linear;
}
#photo .img-container img:hover {
    transform: scale(1.1);
}
    /*tours*/
section#tours {
    padding: 30px 0;
}
section#tours h2 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 45px;
}
section#tours .header-filter {
    height: 81px;
    background-color: #ffff00;
    background-image: url(../img/tours/bg-filter@2x.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#tours .img-container {
    position: relative;
    overflow: hidden;
    height: 225px;
}
section#tours .img-container img {
    width: 100%;
    height: 100%;
    position: relative;
}
section#tours .img-container .title-img {
    position: absolute;
    right: 0;
    top: 120px;
}
section#tours .img-container .title-img a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px 0 5px;
}
section#tours .img-container .title-img img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
section#tours .img-container .title-img date {
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffff00;
    margin-top: 5px;
    display: block;
}
section#tours .img-with-text {
    height: 48px;
    width: 170px;
    background-color: #ffff00;
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #4d4d4d;
}
section#tours .img-with-text:hover {
    text-decoration: none;
}
section#tours .grid-tour {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
section#tours .title-tour {
    margin: 15px  0;
}
section#tours .title-tour a {
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #555555;
}
section#tours .title-tour a:hover {
    text-decoration: none;
}
section#tours .single-tour .price-img {
    position: absolute;
    top: 120px;
    left: -180px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffff00;
    background-color: rgba(255,255,255,0.38);
    height: 48px;
    width: 160px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    opacity: 0;
}
section#tours .single-tour:hover .price-img {
    opacity: 1;
    left: 0;
}
section#tours .single-tour:hover img {
    transform: scale(1.1);
}
section#tours .single-tour p.sale {
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #e3ffa8;
}
section#tours .single-tour.get-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 55px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: left;
    color: #ffdd00;
    height: 225px;
    border-radius: 8px;
    border: 3px solid;
    text-transform: uppercase;
}
section#tours .single-tour.get-more:hover {
    text-decoration: none;
    color: #4d4d4d;
}
section#tours .single-tour.get-more i {
    font-size: 30px;
}
section#tours a.go-catalogue {
    margin: 30px auto;
    width: 350px;
    height: 56px;
    border-radius: 2px;
    background-color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    color: #555555;
    transition: all .2s linear;
}
section#tours a.go-catalogue:hover {
    color: #ffff00;
    background-color: #555555;
    text-decoration: none;
}
/*soc*/
section#soc {
    margin: 50px 0 15px;
}
section#soc .soc-block {
    height: 100px;
    background-color: #555555;
    display: flex;
    color: #fff;
    padding: 22px;
    justify-content: space-between;
    align-items: baseline;
}
section#soc .soc-block p.title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
}
section#soc .soc-block a {
    border: 1px solid #fff;
    border-radius: 2px;
    display: inline-block;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
    transition: all .2s linear;
    height: 57px;
    width: 100%;
    max-width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
}
section#soc .soc-block a:hover {
    text-decoration: none;
    color: #ffff00;
}
section#soc .soc-block .link {
    display: flex;
    width: 371px;
    justify-content: space-around;
}
/*response*/
section#response {
    padding: 15px 0;
}
section#response .single-response {
    border: 3px solid #ffff00;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 80px;
    display: grid!important;
    grid-template-columns: minmax(162px,20%) 75%;
    grid-column-gap: 70px;
}
section#response h3 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 40px;
}
section#response .single-response p.title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #555555;
    margin-bottom: 15px;
}
section#response .single-response p.title-desc {
    font-family: 'MuseoSansCyrl-300';
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: left;
    color: #cccccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #ffff00;
}
section#response .single-response p.description {
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    text-align: left;
    color: #555555;
}
section#response .img-container {
    height: 167px;
    width: 167px;
    overflow: hidden;
    border: 3px solid #ffff00;
    border-radius: 50%;
}
section#response .img-container img {
    width: 100%;
    object-fit: cover;
}
section#response .slick-next:before, section#response .slick-prev:before {
    color: #555555;
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
}
section#response .slick-next {
   right: -50px;
}
section#response .slick-prev {
    left: -50px;
}

/*media*/
@media (max-width: 1199px) {
    section#soc .soc-block p.title {
        font-size: 29px;
    }
    #local {
        padding: 70px 0 30px;
    }
    section#tours .img-with-text {
        width: 140px;
    }
    section#tours .single-tour .price-img {
        width: 120px;
        padding-left: 10px;
    }
}
@media (max-width: 991px) {
    #local {
        padding: 30px 0;
    }
    #local img {
        margin-bottom: 30px;
    }
    #local p.description {
        text-align: justify;
        font-size: 18px;
    }
    section#single-img {
        padding-top: 0;
    }
    section#single-img .partner-block {
        padding: 20px 1rem;
    }
    section#single-img .partner-block .partners {
        width: 90%;
    }
    section#soc .soc-block p.title {
        font-size: 22px;
    }
    section#soc .soc-block a {
        font-size: 16px;
    }
    section#soc .soc-block {
        padding: 20px 10px;
    }
    section#soc .soc-block .link {
        width: 260px;
    }
    section#soc .soc-block a:first-child {
        margin-left: 0;
    }
    section#response .single-response {
        padding: 20px;
        grid-template-columns: minmax(162px,20%) 72%;
        grid-column-gap: 15px;
    }
    section#response .img-container {
        width: 160px;
        height: 160px;
    }
    section#single-img .container {
        max-width: 100%;
        padding: 0;
    }
    #info-tour .info-block {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
    }
    #info-tour a.send {
        margin: 35px auto 15px;
    }
    #photo .col-lg-3 {
        margin-bottom: 30px;
    }
    section#tours .title-tour a {
        font-size: 18px;
    }
    section#tours .grid-tour {
        grid-gap: 20px;
    }
    section#tours .single-tour .price-img {
        left: 0;
        opacity: 1;
        top: 15px;
        background-color: rgba(255,255,255,0.45);
    }
}
@media (max-width: 767px) {
    #local {
        padding: 15px 0;
    }
    #photo .col-lg-3 {
        margin-bottom: 15px;
    }
    section#single-img .partner-block .logo {
        width: 33%;
    }
    section#single-img .partner-block .partners {
        width: 60%;
    }
    section#single-img .partner-block .partners img {
        max-width: 90px;
        margin-right: 10px;
    }
    section#single-img .slide-container {
        height: calc(100% - 105px);
    }
    section#soc {
        margin: 15px 0;
    }
    section#soc .soc-block {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    section#response .single-response {
        grid-template-columns: 100%;
    }
    section#response .img-container {
        margin: 10px auto;
    }
    section#response .single-response p.title,
    section#response .single-response p.title-desc,
    section#response .single-response p.description {
        text-align: center;
    }
    section#single-img .slide-container .text-container {
        left: 0;
        padding: 15px 10px 15px 20px;
    }
    #info-tour h2 {
        font-size: 30px;
    }
    #info-tour .img-container {
        margin-right: 15px;
    }
    section#tours .grid-tour {
        grid-template-columns: repeat(1,1fr);
    }
    section#tours .single-tour .price-img {
        top: 120px;
    }
    section#tours h2 {
        margin-bottom: 30pxs;
    }
    section#tours a.go-catalogue {
        margin: 30px auto 15px;
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    section#single-img .partner-block .partners {
        display: none;
    }
    section#tours .grid-tour {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
    }
    section#tours .single-tour.get-more i {
        margin-left: 15px;
    }
    section#response .single-response {
        padding: 20px;
    }
    section#soc .soc-block p.title {
        font-size: 21px;
    }
    section#tours .header-filter {
        justify-content: flex-end;
        height: 135px;
    }
    section#tours .slider-nav {
        margin: 10px auto;
    }
    #info-tour .info-block {
        padding: 20px;
    }
    #info-tour h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
}
@media (max-width: 410px) {
    section#soc .soc-block p.title {
        text-align: center;
    }
    section#single-img .slide-container .text-container p.title {
        font-size: 32px;
    }
    section#single-img .slide-container .text-container p.description {
        font-size: 16px;
    }
    section#single-img .slide-container .text-container {
        height: auto;
        padding: 15px 10px;
    }
    section#response .single-response {
        padding: 10px;
    }
    section#tours h2,
    section#response h3,
    section#about-us h3,
    #photo h3{
        font-size: 28px;
        margin-bottom: 15px;
    }
    #info-tour .info-block {
        padding: 20px 10px;
    }
    #info-tour .img-container {
        width: 65px;
        height: 65px;
        margin-right: 10px;
    }
    #info-tour a.send {
        width: 100%;
        margin: 30px auto 0;
    }
    section#tours a.go-catalogue {
        width: 100%;
    }
}
